---
import "../styles/global.css";
import sandiego from "../../public/images/gallery/sandiego.png";
import solo from "../../public/images/projects/solo-running.png";
import vgdc from "../../public/images/projects/vgdc.png";
import stacked from "../../public/images/projects/stacked-habits.png";
import arrow from "../../public/images/gallery/arrow.png";
import falling from "../../public/images/gallery/falling.png";
import cartoon from "../../public/images/gallery/cartoon.png";
import cambria from "../../public/images/gallery/cambria.png";
import korea1 from "../../public/images/gallery/korea-1.png";
import korea2 from "../../public/images/gallery/korea-2.png";
import monterray from "../../public/images/gallery/monterray.png";

import {ArrowRight, CircleIcon} from "@lucide/astro";
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import { BLOG_COLLECTION, BLOG_URL } from "../constants.ts"; // Add this import

let blogPosts = await getCollection(BLOG_COLLECTION)
blogPosts.sort((a,b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
blogPosts = blogPosts.slice(0,3);
---

<style>
	#project-tooltip-1, #project-tooltip-2, #project-tooltip-3 {
		background-color: rgba(188, 188, 188, 0.177);
		backdrop-filter: blur(5px);
		-webkit-backdrop-filter: blur(5px);	
	}
	
	/* Vertical progress bar using CSS transform */
	#vertical-progress {
		transform: rotate(90deg);
		position: absolute;
		top: 400px;
		left: -200px;
		width: 120px;
		height: 2px;
	}
	
	@media screen and (max-width: 1368px) {
		#vertical-progress {
			visibility: hidden;
		}
	}

	#vertical-progress::-webkit-progress-bar {
		background-color: var(--background-secondary);
		border-radius: 0.5rem;
	}
	
	#vertical-progress::-webkit-progress-value {
		background-color: white;
		border-radius: 0.5rem;
	}
	
	#vertical-progress::-moz-progress-bar {
		background-color: white;
		border-radius: 0.5rem;
	}
</style>

<Layout>
	<section class="flex flex-col justify-between mx-auto items-center h-screen w-full px-4 pt-20">
		<header id="hero" class="flex flex-col justify-center text-center items-center pt-40">
			<h1 id="title" class="primary-title text-white">
				<span class="flip-name secondary-title">William</span>
				<br /> Software Development <br /> Digital Art
			</h1>
		</header>
	</section>

	<section class="flex flex-col justify-center max-w-5xl mx-auto px-4 lg:flex-row lg:gap-24 lg:px-0">
		<header class="text-left">
			<h2 class="primary-header-1">My</h2>
			<h2 class="secondary-header-1">Background</h2>
			<div class="w-full h-[480px] overflow-hidden rounded-lg my-12 lg:w-[340px] lg:h-fit">
				<Image
					id="san-diego"
					fit="fill"
					class="hover:scale-125 transition-all h-full  duration-500 sm:translate-y-[-200px] lg:translate-0"
					src={sandiego}
					alt="photo of me at UCSD"
				/>
			</div>
		</header>

		<article class="mt-4 primary-body text-white text-left w-full lg:max-w-sm lg:mt-0">
			<p>
				I'm a recent graduate from UCSD with a deep interest in design, technology, and machine learning. 
				From a young age, I've always had an appetite for creating and shaping my ideas into reality - 
				from my first lego set to my first computer program. That curiosity has continued to push me to 
				explore new concepts in other mediums that I work with such as digital art and coding.
			</p>
			<br class="h-[24px]"/>
			<p>
				In college, I found that working with others on meaningful projects provided ample opportunity for
				new challenges and growth. The late nights of research and iterative development were cumbersome but
				showed me that results require both discipline and risk. These qualities eventually paved the way
				for my involvement in campus clubs where I took on major roles redesigning web apps and building
				real solutions for UCSD health organizations through SDSC.
			</p>
			<br class="h-[24px]"/>
			<p>
				These days, you'll still find me working on exciting projects in collaboration with other SDSC interns. On the side, I spend 
				my time completing certification courses to ramp up my professional skills in cloud services & computing. 
				While it's not easy, learning never stops!
			</p>
		</article>
	</section>

	<section class="mt-[200px] lg:mt-[400px]">
		<span class="flex flex-col justify-center mx-auto gap-8 px-4 w-full lg:flex-row lg:justify-between lg:items-end 2xl:px-40">
			<header id="gallery-header" class="flex flex-col gap-4 text-center lg:text-left">
				<p class="secondary-header-2 text-(--color-gray) mb-2">Gallery</p>
				<h3	class="primary-header-1 text-white max-w-4xl mx-auto">
					A collection of personally selected digital art
					and photos over the years.
				</h3>
			</header>
		</span>

		<figure id="carousel" class="flex mx-auto justify-center gap-4 h-[200px] mt-24 lg:h-[300px] mx-auto">
			<Image
				src={arrow}
				alt="arrow"
				fit="cover"
				class="rounded-md h-full w-fit z-0"
			/>
			<Image
				src={korea1}
				alt="korea-1"
				fit="contain"
				class="rounded-md h-full w-fit z-0"
			/>
			<Image
				src={falling}
				alt="falling"
				fit="cover"
				class="rounded-md h-full w-fit z-0"
			/>
			<Image
				src={korea2}
				alt="korea-2"
				fit="contain"
				class="rounded-md h-full w-fit z-0"
			/>
			<Image
				src={cambria}
				alt="cambria"
				fit="contain"
				class="rounded-md h-full w-fit z-0"
			/>
			<Image
				src={cartoon}
				alt="cartoon"
				fit="contain"
				class="rounded-md h-full w-fit z-0"
			/>
			<Image
				src={monterray}
				alt="monterray"
				fit="contain"
				class="rounded-md h-full w-fit z-0"
			/>
		</figure>
	</section>

	<div class="mt-[200px] lg:mt-[400px] flex flex-col justify-center mx-auto">
		<header class="max-w-lg lg:max-w-5xl mx-auto px-4">
			<h2 id="projects-header" class="primary-header-1 text-center lg:w-full">
				I've built <span class="secondary-header-1 italic">several</span> projects across mobile
				and web <span class="secondary-header-1 italic"> development</span>
			</h2>
		</header>

		<div class="flex flex-col gap-[40px] sm:gap-[100px] md:gap-[160px] w-full relative">
			<p id="project-tooltip-1" class="py-1 px-3 w-fit h-fit rounded-lg pointer-events-none opacity-0 transition-opacity duration-200">view more</p>

			<article class="flex flex-col gap-4 justify-between h-[400px] w-full mx-auto px-4 2xl:flex-row 2xl:gap-16 2xl:px-40">					

				<summary class="order-last flex flex-col gap-4 mt-4 w-full mx-auto max-w-4xl 2xl:order-first">
					<h2 class="primary-header-2">Solo Running</h2>
					<p class="primary-body text-(--color-gray) 2xl:max-w-md">
						Solo is a personal running app complete with native GPS tracking, Live Activities, and historical trends.
					</p>
					<span class="flex gap-4">
						<p class="primary-body w-fit text-white py-2 px-3 bg-(--background-secondary) rounded-lg">iOS</p>
						<p class="primary-body w-fit text-white py-2 px-3 bg-(--background-secondary) rounded-lg">SwiftUI</p>
						<p class="primary-body w-fit text-white py-2 px-3 bg-(--background-secondary) rounded-lg">XCode</p>
					</span>
				</summary>

				<a aria-label="project-link" href="/projects#solo" class="w-full">
					<Image
						src={solo}
						alt="solo running app"
						fit="fill"
						id="project-image-1"
						class="rounded-2xl w-full h-full mx-auto hover:cursor-pointer max-w-4xl 2xl:order-last"
					/>
				</a>
			</article>

			<p id="project-tooltip-2" class="py-1 px-3 w-fit h-fit rounded-lg pointer-events-none opacity-0 transition-opacity duration-200">view more</p>

			<article class="flex flex-col gap-4 justify-between h-[480px] w-full mx-auto px-4 2xl:flex-row 2xl:gap-16 2xl:px-40">					
				<summary class="order-last flex flex-col gap-4 mt-4 w-full mx-auto max-w-4xl 2xl:order-first">
					<h2 class="primary-header-2">VGDC Website</h2>
					<p class="primary-body text-(--color-gray) 2xl:max-w-md">
						Served as the website director for the Video Game Development Club at UCSD. Collaborated with a small team 
						to create a Next.js website with a markdown blog system, events, and member profiles. Integrated Motion animations
						for client side interactivity.					
					</p>
					<span class="flex gap-4">
						<p class="primary-body w-fit text-white py-2 px-3 bg-(--background-secondary) rounded-lg">Next.js</p>
						<p class="primary-body w-fit text-white py-2 px-3 bg-(--background-secondary) rounded-lg">React</p>
						<p class="primary-body w-fit text-white py-2 px-3 bg-(--background-secondary) rounded-lg">Motion</p>
						<p class="primary-body w-fit text-white py-2 px-3 bg-(--background-secondary) rounded-lg">Tailwind</p>
					</span>
				</summary>

				<a aria-label="project-link" href="/projects#vgdc" class="w-full">
					<Image
						src={vgdc}
						alt="vgdc website"
						fit="fill"
						id="project-image-2"
						class="rounded-2xl w-full h-full mx-auto hover:cursor-pointer max-w-4xl 2xl:order-last"
					/>
				</a>
			</article>

			<p id="project-tooltip-3" class="py-1 px-3 z-1 w-fit h-fit rounded-lg pointer-events-none opacity-0 transition-opacity duration-200">view more</p>

			<article class="flex flex-col gap-4 justify-between h-[340px] w-full mx-auto px-4 2xl:flex-row 2xl:gap-16 2xl:px-40">					
				<summary class="order-last flex flex-col gap-4 mt-4 w-full mx-auto max-w-4xl 2xl:order-first">
					<h2 class="primary-header-2">Stacked Habits</h2>
					<p class="primary-body text-(--color-gray) 2xl:max-w-md">
						Web application built with Supabase and ChatGPT LLM Tooling that allows users to query information about their habits
						with a conversational chatbot. Integrates Supabase Auth and PostgreSQL to manage users and their data.					
					</p>
					<span class="flex gap-4">
						<p class="primary-body w-fit text-white py-2 px-3 bg-(--background-secondary) rounded-lg">Next.js</p>
						<p class="primary-body w-fit text-white py-2 px-3 bg-(--background-secondary) rounded-lg">Supabase</p>
						<p class="primary-body w-fit text-white py-2 px-3 bg-(--background-secondary) rounded-lg">ChatGPT</p>
					</span>
				</summary>

				<a aria-label="project-link" href="/projects#stacked-habits" class="w-full">
					<Image
						src={stacked}
						alt="stacked ai habit tracker app"
						fit="fill"
						id="project-image-3"
						class="rounded-2xl w-full h-full mx-auto brightness-150 hover:cursor-pointer max-w-4xl 2xl:order-last"
					/>
				</a>
			</article>	
		</div>
	</div>

	<section class="flex flex-col w-full mx-auto px-4 min-h-[600px] mt-[240px] 2xl:px-40">
		<section class="group flex justify-between items-center bg-(--background-secondary) rounded-lg px-4 py-3">
			<span class="flex items-center">
				<CircleIcon size={12} class="bg-white rounded-full w-0 scale-0 opacity-0 group-hover:mr-2 group-hover:w-[12px] group-hover:scale-100 group-hover:opacity-100 transition-all duration-300 ease-in-out overflow-hidden"/>
				<h2 class="primary-header-3 text-white transition-all duration-300 ease-in-out">Blog</h2>
				<p class="primary-header-3 text-(--color-gray) ml-2 opacity-0 group-hover:opacity-100  transition-all duration-300 ease-in-out text-ellipsis line-clamp-1">news, experiences and insights</p>
			</span>
			<a aria-label="navigate-to-blog" href={BLOG_URL}>
				<ArrowRight class="hover:cursor-pointer hover:translate-x-[8px] transition-all duration-500 ease-in-out"/>
			</a>
		</section>
			
		<section class="flex flex-col w-full gap-8 mt-12 lg:gap-24">
			<ul class="flex flex-col gap-4 transition-all duration-300">
				{blogPosts.slice(0,).map((post,idx) => (
					<a aria-label="blog-post" href={BLOG_URL + post.id}>
						<li id={post.id} class="group hover:cursor-pointer px-4 flex w-full justify-between items-center">
							<section class="gap-2">
								<h3 class="primary-header-3">{post.data.title}</h3>
								<p class="primary-body text-(--color-gray) text-ellipsis line-clamp-2 mt-2 lg:max-w-md">{post.data.description}</p>
								<p class="text-blue-400 mt-2 translate-y-full opacity-0 group-hover:opacity-100 group-hover:translate-y-0 transition-all duration-400 ease-in-out">{new Date(post.data.pubDate).toLocaleDateString('en-US', { year: 'numeric', month: 'long',day: 'numeric',})}</p>
							</section>

							<a href="blog-post-button" href={BLOG_URL + post.id} class="primary-body text-white py-2 px-3 mb-8 bg-(--background-secondary) text-(--color-gray) rounded-lg h-fit w-fit hidden lg:block">
								<p class=" text-white">see more</p>
							</a>
						</li>
					</a>
					<hr class="border-dashed mx-4 text-(--color-gray)"/>
				))}
			</ul>
		</section>
	</section>	
</Layout>