---
import "../styles/global.css";
import sandiego from "../../public/images/home/sandiego.png";
import solo from "../../public/images/home/solo.png";
import vgdc from "../../public/images/home/vgdc.png";
import arrow from "../../public/images/home/arrow.png";
import falling from "../../public/images/home/falling.png";
import kick from "../../public/images/home/kick.png";
import cartoon from "../../public/images/home/cartoon.png";
import cambria from "../../public/images/home/cambria.png";
import korea1 from "../../public/images/home/korea-1.png";
import korea2 from "../../public/images/home/korea-2.png";
import monterray from "../../public/images/home/monterray.png";

import {ArrowRight, CircleIcon} from "@lucide/astro";
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import { BLOG_COLLECTION, BLOG_URL } from "../constants.ts"; // Add this import

let blogPosts = await getCollection(BLOG_COLLECTION)
blogPosts.sort((a,b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
blogPosts = blogPosts.slice(0,3);

---

<style>

	#project-tooltip-1, #project-tooltip-2, #project-tooltip-3 {
		background-color: rgba(188, 188, 188, 0.177);
		backdrop-filter: blur(5px);
		-webkit-backdrop-filter: blur(5px);	
	}
	
	/* Vertical progress bar using CSS transform */
	#vertical-progress {
		transform: rotate(90deg);
		position: absolute;
		top: 400px;
		left: -200px;
		width: 120px;
		height: 2px;
	}
	
	@media screen and (max-width: 1368px) {
		#vertical-progress {
			visibility: hidden;
		}
	}

	#vertical-progress::-webkit-progress-bar {
		background-color: var(--background-secondary);
		border-radius: 0.5rem;
	}
	
	#vertical-progress::-webkit-progress-value {
		background-color: white;
		border-radius: 0.5rem;
	}
	
	#vertical-progress::-moz-progress-bar {
		background-color: white;
		border-radius: 0.5rem;
	}
	
</style>


<Layout>
		
	<section class="flex flex-col justify-between mx-auto items-center h-screen w-full px-8 pb-[4rem] pt-20">
		<header
			data-speed="0.7"
			data-lag
			id="hero"
			class="flex flex-col justify-center text-center items-center pt-32"
		>
			<h1 id="title" class="primary-title text-white">
				<span class="flip-name secondary-title">William</span>
				<br /> Software Development <br /> Digital Art
			</h1>
		</header>

		<p class="primary-body mt-20 text-(--color-gray)">
			Scroll for more
		</p>
	</section>

	<section
		data-speed="0.8"
		class="flex flex-col justify-center mt-[400px] max-w-5xl mx-auto px-8 lg:flex-row lg:gap-24 lg:px-0"
	>
		<header class="text-left">
			<h2 class="primary-header-1">My</h2>
			<h2 class="secondary-header-1">Background</h2>

			<div
				class="w-full h-[480px] overflow-hidden rounded-lg my-12 md:h-[540px] lg:w-[340px] lg:h-fit"
			>
				<Image
					id="san-diego"
					fit="fill"
					class="hover:scale-125 transition-all duration-500 sm:translate-y-[-200px] lg:translate-0"
					src={sandiego}
					alt="photo of me at UCSD"
				/>
			</div>
		</header>

		<pre
			id="my-background"
			class="mt-4 primary-header-3 text-left w-full lg:max-w-sm lg:mt-0">
I started drawing throughout my childhood years and with my age, my obsession with design continued to evolve - from typography, to prints, and roald dahl- esque illustrations. Even though I'm not a professional, I enjoy experimenting with new styles and genres to keep my creative juices flowing.
<br />
By the time I entered college, I had very little background in programming. However I quickly gained traction by enrolling in computer science classes and free coding courses on web development. I eventually took on roles redesigning websites for large campus organizations which offered both creative freedom and the chance to improve my fluency in tech stacks. and eventually made my way into an internship program building software solutions for real world clients.                     
	</pre>
</section>
	

	<section class="mt-[340px] lg:mt-[400px]">

		<span class="flex flex-col justify-center mx-auto gap-8 px-8 w-full lg:flex-row lg:justify-between lg:items-end 2xl:px-40">
			<header id="gallery-header" class="flex flex-col gap-4 text-center lg:text-left">
				<p class="primary-header-3 text-blue-300 mb-2">Gallery</p>
				<h3	class="primary-header-1 text-white max-w-4xl mx-auto">
					A collection of personally selected digital art
					and photos over the years.
				</h3>
				<!-- <button id="gallery-button" class="primary-body text-white py-2 px-3 bg-(--background-secondary) text-(--color-gray) rounded-lg h-fit w-fit mx-auto lg:mx-0">
				<p class=" text-white">see more</p>
			</button> -->
			</header>

			
		</span>

		<figure id="carousel" class="flex mx-auto justify-center gap-4 h-[200px] mt-24 lg:h-[300px] mx-auto">

			<Image
				src={arrow}
				alt="arrow"
				fit="cover"
				class="rounded-md h-full w-fit z-0"
			/>
			<Image
				src={korea1}
				alt="korea-1"
				fit="contain"
				class="rounded-md h-full w-fit z-0"
			/>
			<Image
				src={falling}
				alt="falling"
				fit="cover"
				class="rounded-md h-full w-fit z-0"
			/>
			<Image
				src={korea2}
				alt="korea-2"
				fit="contain"
				class="rounded-md h-full w-fit z-0"
			/>
			<Image
				src={kick}
				alt="kick"
				fit="cover"
				class="rounded-md h-full w-fit z-0"
			/>
			<Image
				src={cambria}
				alt="cambria"
				fit="contain"
				class="rounded-md h-full w-fit z-0"
			/>
			<Image
				src={cartoon}
				alt="cartoon"
				fit="contain"
				class="rounded-md h-full w-fit z-0"
			/>
			<Image
				src={monterray}
				alt="monterray"
				fit="contain"
				class="rounded-md h-full w-fit z-0"
			/>
		</figure>
	</section>


	<div class="mt-[340px] lg:mt-[400px] flex flex-col justify-center mx-auto">
		<header class="max-w-lg lg:max-w-5xl mx-auto px-8">
			<h2 id="projects-header" class="primary-header-1 text-center lg:w-full">
				I've built <span class="secondary-header-1 italic">several</span> projects across mobile
				and web <span class="secondary-header-1 italic"> development</span>.
			</h2>
		</header>



		<div class="flex flex-col gap-16 w-full relative">
			<p id="project-tooltip-1" class="py-1 px-3 w-fit h-fit rounded-lg pointer-events-none opacity-0 transition-opacity duration-200">view more</p>

			<article class="flex flex-col gap-4 justify-between h-[540px] w-full mx-auto px-8 2xl:flex-row 2xl:gap-16 2xl:px-40">					

				<summary class="order-last flex flex-col gap-4 mt-4 w-full mx-auto max-w-4xl 2xl:order-first">
					<h2 class="primary-header-2">Solo Running</h2>
					<p class="primary-body text-(--color-gray)">Solo is a personal running app complete with native GPS tracking, Live Activities, and historical trends.</p>
					<span class="flex gap-4">
						<p class="primary-body w-fit text-white py-2 px-3 bg-(--background-secondary) rounded-lg">iOS</p>
						<p class="primary-body w-fit text-white py-2 px-3 bg-(--background-secondary) rounded-lg">SwiftUI</p>
						<p class="primary-body w-fit text-white py-2 px-3 bg-(--background-secondary) rounded-lg">XCode</p>
					</span>
				</summary>

				<Image
					src={solo}
					alt="solo running app"
					fit="fill"
					id="project-image-1"
					class="rounded-2xl w-full h-full mx-auto hover:cursor-pointer max-w-4xl 2xl:order-last"
				/>
			</article>

			<p id="project-tooltip-2" class="py-1 px-3 w-fit h-fit rounded-lg pointer-events-none opacity-0 transition-opacity duration-200">view more</p>

			<article class="flex flex-col gap-4 justify-between h-[540px] w-full mx-auto px-8 2xl:flex-row 2xl:gap-16 2xl:px-40">					

				<summary class="order-last flex flex-col gap-4 mt-4 w-full mx-auto max-w-4xl 2xl:order-first">
					<h2 class="primary-header-2">VGDC Website</h2>
					<p class="primary-body text-(--color-gray)">Solo is a personal running app complete with native GPS tracking, Live Activities, and historical trends.</p>
					<span class="flex gap-4">
						<p class="primary-body w-fit text-white py-2 px-3 bg-(--background-secondary) rounded-lg">Next.js</p>
						<p class="primary-body w-fit text-white py-2 px-3 bg-(--background-secondary) rounded-lg">React</p>
						<p class="primary-body w-fit text-white py-2 px-3 bg-(--background-secondary) rounded-lg">Motion</p>
						<p class="primary-body w-fit text-white py-2 px-3 bg-(--background-secondary) rounded-lg">Tailwind</p>
					</span>
				</summary>

				<Image
					src={vgdc}
					alt="solo running app"
					fit="fill"
					id="project-image-2"
					class="rounded-2xl w-full h-full mx-auto hover:cursor-pointer max-w-4xl 2xl:order-last"
				/>

				
			</article>

			<p id="project-tooltip-3" class="py-1 px-3 w-fit h-fit rounded-lg pointer-events-none opacity-0 transition-opacity duration-200">view more</p>

			<article class="flex flex-col gap-4 justify-between h-[540px] w-full mx-auto px-8 2xl:flex-row 2xl:gap-16 2xl:px-40">					

				<summary class="order-last flex flex-col gap-4 mt-4 w-full mx-auto max-w-4xl 2xl:order-first">
					<h2 class="primary-header-2">Stacked Habits</h2>
					<p class="primary-body text-(--color-gray)">Solo is a personal running app complete with native GPS tracking, Live Activities, and historical trends.</p>
					<span class="flex gap-4">
						<p class="primary-body w-fit text-white py-2 px-3 bg-(--background-secondary) rounded-lg">Next.js</p>
						<p class="primary-body w-fit text-white py-2 px-3 bg-(--background-secondary) rounded-lg">Supabase</p>
						<p class="primary-body w-fit text-white py-2 px-3 bg-(--background-secondary) rounded-lg">ChatGPT</p>
					</span>
				</summary>

				<Image
					src={vgdc}
					alt="solo running app"
					fit="fill"
					id="project-image-3"
					class="rounded-2xl w-full h-full mx-auto hover:cursor-pointer max-w-4xl 2xl:order-last"
				/>
			</article>
				
			</div>

	</div>

	
	<section class="flex flex-col w-full mx-auto px-8 min-h-[600px] mt-[200px] 2xl:px-40">

		<section class="group flex justify-between items-center bg-(--background-secondary) rounded-lg px-8 py-4">
			<span class="flex items-center">
				<CircleIcon size={12} class="bg-white rounded-full w-0 scale-0 opacity-0 group-hover:mr-2 group-hover:w-[12px] group-hover:scale-100 group-hover:opacity-100 transition-all duration-300 ease-in-out overflow-hidden"/>
				<h2 class="primary-header-3 text-white transition-all duration-300 ease-in-out">Blog</h2>
				<p class="primary-header-3 text-(--color-gray) ml-2 opacity-0 group-hover:opacity-100  transition-all duration-300 ease-in-out">news, experiences and insights</p>
			</span>
			<a href={BLOG_URL}>
				<ArrowRight class="hover:cursor-pointer hover:translate-x-[8px] transition-all duration-500 ease-in-out"/>
			</a>
		</section>
			
		<section class="flex flex-col w-full gap-8 mt-12 lg:gap-24">

			<article class="px-8 flex flex-start w-full justify-between gap-16  transition-opacity duration-400 ease-in-out">
				<Image src={blogPosts[0].data.cover} alt="cover image for blog" fit="fill" width=400 height=300 class="hidden object-cover object-center !m-0 aspect-square block w-full h-[380px] max-w-2xl rounded-xl lg:block"/>
				<a href={BLOG_URL + blogPosts[0].id}> 
					<section class="flex flex-col group hover:cursor-pointer gap-2 lg:mt-24">
						<p class="primary-body w-fit text-white py-2 px-3 bg-(--background-secondary) rounded-lg">Latest</p>
						<h3 class="primary-header-2">{blogPosts[0].data.title}</h3>
						<p class="primary-body text-(--color-gray) text-ellipsis line-clamp-2 mt-2 lg:max-w-md">{blogPosts[0].data.description}</p>
						<p class="text-blue-300 translate-y-full opacity-0 group-hover:opacity-100 group-hover:translate-y-0 transition-all duration-400 ease-in-out">{new Date(blogPosts[0].data.pubDate).toLocaleDateString('en-US', { year: 'numeric', month: 'long',day: 'numeric',})}</p>
					</section>
				</a>
			</article>

			<ul class="flex flex-col gap-8">
				{blogPosts.slice(1,).map((post,idx) => (
					<a href={BLOG_URL + post.id}>
						<li id={post.id} class="group hover:cursor-pointer px-8 flex w-full justify-between items-center opacity-60 hover:opacity-100">
							<section class="gap-2">
								<h3 class="primary-header-3">{post.data.title}</h3>
								<p class="primary-body text-(--color-gray) text-ellipsis line-clamp-2 mt-2 lg:max-w-md">{post.data.description}</p>
								<p class="text-blue-300 mt-2 translate-y-full opacity-0 group-hover:opacity-100 group-hover:translate-y-0 transition-all duration-400 ease-in-out">{new Date(post.data.pubDate).toLocaleDateString('en-US', { year: 'numeric', month: 'long',day: 'numeric',})}</p>
							</section>

							<a href={BLOG_URL + post.id} class="primary-body text-white py-2 px-3 mb-8 bg-(--background-secondary) text-(--color-gray) rounded-lg h-fit w-fit hidden lg:block">
								<p class=" text-white">see more</p>
							</a>
						</li>
					</a>
					
				))}
			</ul>

		</section>
	</section>

			
</Layout>


