---
import type { CollectionEntry } from 'astro:content';
import { BLOG_URL } from '../constants';
import { CircleIcon } from "@lucide/astro";

interface Props {
    post: CollectionEntry<'blog'>
}
const {post} = Astro.props;

const formattedDate = new Date(post.data.pubDate).toLocaleDateString('en-US', {
    year: 'numeric',
    month: 'long',
    day: 'numeric',
    hour: 'numeric',
    minute: 'numeric'
})
---
<li id={post.data.title} class="group flex flex-row w-full duration-400 ease-out rounded-xl">
    <a href={BLOG_URL+post.id}>
        <p class="primary-body text-(--color-gray) mb-2">{formattedDate}</p>
        <span class="flex items-center mb-4">
        	<CircleIcon size={12} class="bg-white rounded-full w-0 scale-0 opacity-0 group-hover:mr-2 group-hover:w-[12px] group-hover:scale-100 group-hover:opacity-100 transition-all duration-300 ease-in-out overflow-hidden"/>
            <h2 class="text-white primary-header-3">{post.data.title}</h2>
        </span>
        <h2 class="primary-body text-(--color-gray) text-ellipsis line-clamp-2">{post.data.description}</h2>
    </a>
</li>
