---
import "../../styles/global.css";
import { Image } from "astro:assets";
import Layout from "../../layouts/Layout.astro";

import solo from "../../../public/images/projects/solo-running.png";
import acm from "../../../public/images/projects/acm-ai-portal-myteam-mockup.png";
import vgdc from "../../../public/images/projects/vgdc.png";
import bloomBook from "../../../public/images/projects/bloom-book.png";
import tabeMaps from "../../../public/images/projects/tabemaps-1.png";
import twoFrameBracket from "../../../public/images/projects/twoframe-bracket.png";
import stacked from "../../../public/images/projects/stacked-habits.png";
import { ChevronLeft, ChevronRight, X } from "@lucide/astro";

const images = Object.values(
    import.meta.glob<{ default: ImageMetadata }>('../../../public/images/projects/*', { eager: true })
).map(file => file.default);

---

<script type="module" define:vars={{images}}>
	import { gsap } from "gsap";
	import { SplitText } from "gsap/SplitText";
	import { ScrollTrigger } from "gsap/ScrollTrigger";
	import { ScrollSmoother } from "gsap/ScrollSmoother";
	
	document.addEventListener("astro:page-load", () => {
		gsap.registerPlugin(SplitText, ScrollTrigger, ScrollSmoother);
		ScrollSmoother.create({
			smooth: 2, // how long (in seconds) it takes to "catch up" to the native scroll position
			effects: true, // looks for data-speed and data-lag attributes on elements
		});

		const smoother = ScrollSmoother.get();
		const smoothWrapper = document.querySelector("#smooth-wrapper");

		// Interactive images that open the project dialog
		const projectPreviews = document.querySelectorAll(".project-preview");
		const projectDialog = document.querySelector("#project-dialog");

		// Dialog components
		const projectName =document.querySelector("#project-name");
		const escapeProjectDialog = document.querySelector("#escape-project-dialog");
		const projectImageContainer = document.querySelector("div#project-image-container");
		const prevImageButton = document.querySelector("button#prev-image");
		const nextImageButton = document.querySelector("button#next-image");
		const carouselIndexDisplay = document.querySelector("p#carousel-index-display");

		// Mutable array that stores the images related to a project
		let projectImages = [];
		let numProjectImages = 0;

		// Dialog carousel current index for displayed image
		let previewIndex = 0;

		// Register event listeners
		projectPreviews.forEach(preview => {
			preview.addEventListener("click", (e) => {
				const clickedElement = e.target.closest(".project-preview"); 
				const project = clickedElement?.dataset.project;
				if (project) {
					toggleProjectDialogView(project);
				} else {
					console.error("No project data found for clicked element.");
				}
			});
		});

		escapeProjectDialog.addEventListener("click", () => {
			toggleProjectDialogView();
		});

		nextImageButton.addEventListener("click", () => {
			showNextImage();
			carouselIndexDisplay.innerText = `${previewIndex + 1}/${numProjectImages}`
		});

		prevImageButton.addEventListener("click", () => {
			showPrevImage();
			carouselIndexDisplay.innerText = `${previewIndex + 1}/${numProjectImages}`
		});	

		/**
		 * showNextImage will jump to the next image
		 * in the project dialog carousel.
		 */
		function showNextImage() {
			if (previewIndex + 1 < numProjectImages) {
				previewIndex += 1;
				projectImageContainer.firstChild.src = projectImages[previewIndex].src;
				prevImageButton.style.opacity = "1.0";
       			nextImageButton.style.opacity = previewIndex === projectImages.length - 1 ? "0.5" : "1.0";
			} 
		}

		/**
		 * showPrevImage will jump to the previous image
		 * in the project dialog carousel.
		 */
		function showPrevImage() {
			if (previewIndex - 1 >= 0) {
				previewIndex -= 1;
				projectImageContainer.firstChild.src = projectImages[previewIndex].src;
				nextImageButton.style.opacity ="1.0";
				prevImageButton.style.opacity = previewIndex === 0 ? "0.5" : "1.0";
			} 
		}

		/**
		 * toggleProjectDialogView will open a full screen dialog with
		 * an interactive carousel for a specific project's gallery.
		 * @param project the project-data attribute derived from each image
		 */
		function toggleProjectDialogView(project) {
			projectDialog.classList.toggle("hidden");


			if (!projectDialog.classList.contains("hidden")) {
				smoother.paused(true);
				smoothWrapper.classList.add('opacity-50');
				smoothWrapper.classList.add('blur-sm');


				// Update the dialog header with a user friendly title
				switch (project) {
					case "acm-ai":
						projectName.innerText = "ACM AI Website";	 
						break;
					case "solo-running":
						projectName.innerText = "Solo Running";	 
						break;
					case "twoframe":
						projectName.innerText = "TwoFrame.gg";	 
						break;
					case "vgdc":
						projectName.innerText = "VGDC Website";	 
						break;
					case "stacked-habits":
						projectName.innerText = "Stacked AI Habit Tracker";	 
						break;
					case "tabemaps":
						projectName.innerText = "TabeMaps";	 
						break;
					case "bloom-book":
						projectName.innerText = "Bloom Book";	 
						break;
				}

				// Filter images based on the project name
				projectImages = images.filter(image => image.src.includes(project));
				numProjectImages = projectImages.length;
				previewIndex = 0;

				projectImageContainer.innerHTML =  `<img src=${projectImages[previewIndex].src} class="py-16 w-full mx-auto absolute top-1/4 z-0"/>`;
				carouselIndexDisplay.innerText = `${previewIndex + 1}/${numProjectImages}`

				prevImageButton.style.opacity ="0.5";
				if (numProjectImages == 1) {
					nextImageButton.style.opacity ="0.5";
				}

			}
			else {
				smoother.paused(false);
				smoothWrapper.classList.remove('opacity-50');
				smoothWrapper.classList.remove('blur-sm');

				// Reset the state
				previewIndex = 0;
				projectImages = [];
				prevImageButton.style.opacity ="0.5";
				nextImageButton.style.opacity ="1.0";
			}
		}
	})
</script>

<style>
	div#project-image-container {		
		/* Hide scrollbar visually across browsers */
		-ms-overflow-style: none;  /* IE and Edge */
		scrollbar-width: none;     /* Firefox */
	}
</style>


<dialog 
    id="project-dialog" 
    class="fixed bg-(--background-primary) border-t-2 border-gray-500/50 hidden flex flex-col 
    justify-between mx-auto w-screen h-screen z-2000"
>
	<span class="bg-(--background-primary) inline-flex justify-between items-center w-full p-8 max-h-[40px] z-2">
		<h2 id="project-name" class="primary-header-3 text-white max-w-lg"></h2>
		<button 
		id="escape-project-dialog" 
		class="w-fit h-fit p-1 rounded-md border-1 border-(--color-gray) 
		text-white text-sm hover:cursor-pointer hover:bg-gray-500/50">
			{<X size={16}/>}
		</button>
	</span>
	
	<hr class="w-full text-gray-500/50 z-3"/>

	<div id="project-image-carousel" class="flex flex-row relative items-center justify-between mx-auto w-full h-full max-w-4xl z-1">
		<button id="prev-image" class="hover:cursor-pointer hover:opacity-50 p-4 flex items-center justify-center rounded-full bg-black opacity-90 z-10 absolute top-1/2 left-0 translate-x-[50%]">
			<ChevronLeft class="text-white"/>
		</button>
		<div id="project-image-container" class="flex flex-row items-center w-full h-screen absolute overflow-y-scroll"></div>
		<button id="next-image" class="hover:cursor-pointer hover:opacity-50 p-4 flex items-center justify-center rounded-full bg-black opacity-90 z-10 absolute top-1/2 right-0 translate-x-[-50%] mr-4">
			<ChevronRight  class="text-white"/>
		</button>
	</div>

	<p id="carousel-index-display" class="text-white secondary-body absolute z-4 bottom-0 right-0 p-12"></p>
</dialog>


<Layout >

    <section data-lag class="flex flex-col w-full px-4 pt-20 xl:px-40 mx-auto">
        <header class="py-24 lg:py-40">
            <h1 id="hero" class="primary-header-1 text-left max-w-lg">
                Projects <span class="text-(--color-gray)">From Web to Mobile</span>
            </h1>
        </header>
    </section>

    <section class="flex flex-col gap-24 w-full px-4 xl:px-40">

		<article id="solo" class="flex flex-col gap-4 w-full justify-between lg:flex-row">
			<header class="order-last flex flex-col gap-4 mt-4 w-full max-w-3xl mx-auto text-left lg:max-w-sm lg:order-first lg:mx-0">
				<h2 class="primary-header-2">Solo Running App</h2>
				<p class="primary-body text-(--color-gray)">
					Solo is a personal running app complete with native GPS tracking, Live Activities, and historical trends.
				</p>
				<span class="flex gap-4">
					<p class="primary-body w-fit text-white py-2 px-3 bg-(--background-secondary) rounded-lg">iOS</p>
					<p class="primary-body w-fit text-white py-2 px-3 bg-(--background-secondary) rounded-lg">SwiftUI</p>
					<p class="primary-body w-fit text-white py-2 px-3 bg-(--background-secondary) rounded-lg">XCode</p>
				</span>
			</header>

			<div data-project="solo-running" class="project-preview rounded-2xl bg-(--background-secondary) h-full w-full max-w-[800px] mx-auto hover:cursor-pointer lg:order-last lg:mx-0">
				<Image
					src={solo}
					alt="solo running app"
					fit="contain"
					id="project-preview-1"
					class="max-w-3xl lg:w-full h-full max-w-full max-h-full object-contain rounded-2xl"
				/>
			</div>
		</article>


		<article id="twoframe" class="flex flex-col gap-4 w-full justify-between h-[600px] lg:h-[480px] lg:flex-row">
			<header class="order-last flex flex-col gap-4 mt-4 w-full max-w-3xl mx-auto text-left lg:max-w-sm lg:order-first lg:mx-0">
				<h2 class="primary-header-2">TwoFrame.gg</h2>
				<p class="primary-body text-(--color-gray)">
					Collaborated with friends to prototype a videogame tournament system that manages teams, events, and brackets.
					Wireframed high fidelity mockups in Figma for core features such as authentication, creation & editing, and brackets.
			</p>
				<span class="flex gap-4">
					<p class="primary-body w-fit text-white py-2 px-3 bg-(--background-secondary) rounded-lg">Next.js</p>
					<p class="primary-body w-fit text-white py-2 px-3 bg-(--background-secondary) rounded-lg">Supabase</p>
					<p class="primary-body w-fit text-white py-2 px-3 bg-(--background-secondary) rounded-lg">React Flow</p>
				</span>
			</header>

			<div data-project="twoframe" class="project-preview rounded-2xl bg-(--background-secondary) overflow-hidden h-full w-full max-w-[800px] mx-auto p-8 hover:cursor-pointer lg:order-last lg:mx-0">
				<Image
					src={twoFrameBracket}
					alt="twoframe bracket"
					fit="contain"
					id="project-preview-2"
					class="max-w-3xl lg:w-full h-full max-w-full max-h-full object-contain rounded-2xl"
				/>
			</div>
		</article>

		<article id="stacked" class="flex flex-col gap-4 w-full justify-between lg:flex-row">
			<header class="order-last flex flex-col gap-4 mt-4 w-full max-w-3xl mx-auto text-left lg:max-w-sm lg:order-first lg:mx-0">
				<h2 class="primary-header-2">Stacked AI Habit Tracker</h2>
				<p class="primary-body text-(--color-gray)">
					Web application built with Supabase and ChatGPT LLM Tooling that allows users to query information about their habits
					with a conversational chatbot. Integrates Supabase Auth and PostgreSQL to manage users and their data.
				</p>
				<span class="flex gap-4">
					<p class="primary-body w-fit text-white py-2 px-3 bg-(--background-secondary) rounded-lg">Supabase</p>
					<p class="primary-body w-fit text-white py-2 px-3 bg-(--background-secondary) rounded-lg">Next.js</p>
					<p class="primary-body w-fit text-white py-2 px-3 bg-(--background-secondary) rounded-lg">HeroUI</p>
				</span>
			</header>

			<div data-project="stacked-habits" class="project-preview rounded-2xl bg-(--background-secondary) h-full w-full max-w-[800px] mx-auto hover:cursor-pointer lg:order-last lg:mx-0">
				<Image
					src={stacked}
					alt="stacked ai habit tracker app"
					fit="contain"
					id="project-preview-3"
					class="max-w-3xl lg:w-full h-full max-w-full max-h-full object-contain rounded-2xl brightness-150"
				/>
			</div>
		</article>


		<article id="vgdc" class="flex flex-col gap-4 w-full justify-between lg:flex-row">
			<header class="order-last flex flex-col gap-4 mt-4 w-full max-w-3xl mx-auto text-left lg:max-w-sm lg:order-first lg:mx-0">
				<h2 class="primary-header-2">VGDC Website</h2>
				<p class="primary-body text-(--color-gray)">
					Served as the website director for the Video Game Development Club at UCSD. Collaborated with a small team 
					to create a Next.js website with a markdown blog system, events, and member profiles. Integrated Motion animations
					for client side interactivity.
				</p>
				<span class="flex gap-4">
					<p class="primary-body w-fit text-white py-2 px-3 bg-(--background-secondary) rounded-lg">Next.js</p>
					<p class="primary-body w-fit text-white py-2 px-3 bg-(--background-secondary) rounded-lg">React Markdown</p>
					<p class="primary-body w-fit text-white py-2 px-3 bg-(--background-secondary) rounded-lg">Motion</p>
				</span>
			</header>

			<div data-project="vgdc" class="project-preview rounded-2xl bg-(--background-secondary) h-full w-full max-w-[800px] mx-auto hover:cursor-pointer lg:order-last lg:mx-0">
				<Image
					src={vgdc}
					alt="vgdc website"
					fit="contain"
					id="project-preview-4"
					class="max-w-3xl lg:w-full h-full max-w-full max-h-full object-contain rounded-2xl"
				/>
			</div>
		</article>

		<article id="acm-ai" class="flex flex-col gap-4 w-full justify-between h-[600px] lg:h-[480px] lg:flex-row">
			<header class="order-last flex flex-col gap-4 mt-4 w-full max-w-3xl mx-auto text-left lg:max-w-sm lg:order-first lg:mx-0">
				<h2 class="primary-header-2">ACM AI Website</h2>
				<p class="primary-body text-(--color-gray)">
					Redesigned the club's website across 5+ pages using React and AntUI. Created prototypes in Figma for a 
					competitions dashboard, which were later used for the 2025 StarChess tournament. 
				</p>
				<span class="flex gap-4">
					<p class="primary-body w-fit text-white py-2 px-3 bg-(--background-secondary) rounded-lg">React</p>
					<p class="primary-body w-fit text-white py-2 px-3 bg-(--background-secondary) rounded-lg">LESS</p>
					<p class="primary-body w-fit text-white py-2 px-3 bg-(--background-secondary) rounded-lg">AntUI</p>
				</span>
			</header>

			<div data-project="acm-ai" class="project-preview rounded-2xl bg-(--background-secondary) overflow-hidden h-full w-full max-w-[800px] mx-auto p-8 hover:cursor-pointer lg:order-last lg:mx-0">
				<Image
					src={acm}
					alt="acm ai website"
					fit="contain"
					id="project-preview-5"
					class="max-w-3xl lg:w-full h-full max-w-full max-h-full object-contain rounded-2xl"
				/>
			</div>
		</article>


		<article id="tabemaps" class="flex flex-col gap-4 w-full justify-between lg:flex-row">
			<header class="order-last flex flex-col gap-4 mt-4 w-full max-w-3xl mx-auto text-left lg:max-w-sm lg:order-first lg:mx-0">
				<h2 class="primary-header-2">TabeMaps</h2>
				<p class="primary-body text-(--color-gray)">
					A group passion project that I helped design to enable users find restaurants in Japan. 
					Created a custom search UI with several options to sort by price, ratings, and cuisine. 
					Integrated Google Places API to provide geospatial searching with our MongoDB database.
				</p>
				<span class="flex gap-4">
					<p class="primary-body w-fit text-white py-2 px-3 bg-(--background-secondary) rounded-lg">Svelte</p>
					<p class="primary-body w-fit text-white py-2 px-3 bg-(--background-secondary) rounded-lg">SvelteKit</p>
					<p class="primary-body w-fit text-white py-2 px-3 bg-(--background-secondary) rounded-lg">Node.js</p>
				</span>
			</header>

			<div data-project="tabemaps" class="project-preview rounded-2xl bg-(--background-secondary) h-full w-full max-w-[800px] mx-auto hover:cursor-pointer lg:order-last lg:mx-0">
				<Image
					src={tabeMaps}
					alt="tabeMaps website"
					fit="contain"
					id="project-preview-6"
					class="max-w-3xl lg:w-full h-full max-w-full max-h-full object-contain rounded-2xl"
				/>
			</div>
		</article>

		<article id="bloom-book" class="flex flex-col gap-4 w-full justify-between h-[600px] lg:h-[480px] lg:flex-row">
			<header class="order-last flex flex-col gap-4 mt-4 w-full max-w-3xl mx-auto text-left lg:max-w-sm lg:order-first lg:mx-0">
				<h2 class="primary-header-2">Bloom Book</h2>
				<p class="primary-body text-(--color-gray)">
					Worked as a build master with a small team of interns to develop an Android mobile application designed to help users track and log their plant collections. 
					Oversaw pair programming sessions, code & design quality, and branch management in Gitlab. 
					I also helped design and integrate features such as a custom Camera interface using the CameraX library which allows you to take photos.
				</p>
				<span class="flex gap-4">
					<p class="primary-body w-fit text-white py-2 px-3 bg-(--background-secondary) rounded-lg">Kotlin</p>
					<p class="primary-body w-fit text-white py-2 px-3 bg-(--background-secondary) rounded-lg">Jetpack Compose</p>
					<p class="primary-body w-fit text-white py-2 px-3 bg-(--background-secondary) rounded-lg">Android Studio</p>
				</span>
			</header>

			<div data-project="bloom-book" class="project-preview rounded-2xl bg-(--background-secondary) overflow-hidden h-full w-full max-w-[800px] mx-auto p-8 hover:cursor-pointer lg:order-last lg:mx-0">
				<Image
					src={bloomBook}
					alt="bloom book android app"
					fit="contain"
					id="project-preview-7"
					class="max-w-3xl lg:w-full h-full max-w-full max-h-full object-contain rounded-2xl"
				/>
			</div>
		</article>

    </section>

	<section class="flex flex-col gap-4 w-full px-4 mt-[300px] xl:px-40">
		<header><h1 class="primary-header-1">Skills and Tools</h1></header>
		<div class="flex flex-col md:flex-row md:justify-start md:gap-[33%] ">
			<ul class="flex flex-col mt-8 gap-4">
				<p class="text-(--color-gray) primary-header-3">Docker</p>
				<p class="text-(--color-gray) primary-header-3">Linux</p>
				<p class="text-(--color-gray) primary-header-3">XCode</p>
				<p class="text-(--color-gray) primary-header-3">VSCode</p>
				<p class="text-(--color-gray) primary-header-3">Git / Gitlab</p>
				<p class="text-(--color-gray) primary-header-3">Postman</p>
				<p class="text-(--color-gray) primary-header-3">Supabase</p>
				<p class="text-(--color-gray) primary-header-3">Firebase</p>
				<p class="text-(--color-gray) primary-header-3">MySQL / PostgreSQL</p>			
			</ul>

			<ul class="flex flex-col mt-4 gap-4">
				<p class="text-(--color-gray) primary-header-3">Golang</p>
				<p class="text-(--color-gray) primary-header-3">Node.js</p>
				<p class="text-(--color-gray) primary-header-3">TypeScript</p>
				<p class="text-(--color-gray) primary-header-3">JavaScript</p>
				<p class="text-(--color-gray) primary-header-3">Tailwind CSS</p>
				<p class="text-(--color-gray) primary-header-3">Python</p>			
				<p class="text-(--color-gray) primary-header-3">C++</p>
				<p class="text-(--color-gray) primary-header-3">Kotlin</p>
				<p class="text-(--color-gray) primary-header-3">Bash</p>
			</ul>
		</div>
		
	</section>
</Layout>