---
import "../../styles/global.css";
import { Image } from "astro:assets";
import Layout from "../../layouts/Layout.astro";

import solo from "../../../public/images/home/solo.png";
import acm from "../../../public/images/projects/CompsPortal.png";
import vgdc from "../../../public/images/home/vgdc.png";
---


<Layout >
    <section data-lag class="flex flex-col w-full px-8 pt-20 xl:px-40">
        <hgroup class="py-32">
            <h1 id="hero" class="primary-title text-left max-w-2xl">
                Projects <span class="text-(--color-gray)">From Web to Mobile</span>
            </h1>
        </hgroup>
    </section>

    <section class="flex flex-col gap-16 w-full px-8 pt-20 xl:px-40">

		<article class="flex flex-col gap-4 w-full justify-between h-[440px] lg:flex-row lg:gap-24">
			<hgroup class="order-last flex flex-col gap-4 mt-4 w-full max-w-3xl mx-auto text-left lg:max-w-xl lg:order-first lg:mx-0">
				<h2 class="primary-header-2">Stacked Habits</h2>
				<p class="primary-body text-(--color-gray)">Solo is a personal running app complete with native GPS tracking, Live Activities, and historical trends.</p>
				<span class="flex gap-4">
					<p class="primary-body w-fit text-white py-2 px-3 bg-(--background-secondary) rounded-lg">Supabase</p>
					<p class="primary-body w-fit text-white py-2 px-3 bg-(--background-secondary) rounded-lg">Next.js</p>
					<p class="primary-body w-fit text-white py-2 px-3 bg-(--background-secondary) rounded-lg">ChatGPT LLM</p>
				</span>
			</hgroup>

			<Image
				src={solo}
				alt="solo running app"
				fit="fill"
				id="project-image-1"
				class="rounded-2xl w-full h-full mx-auto hover:cursor-pointer lg:max-w-3xl lg:order-last"
			/>
		</article>

		<article class="flex flex-col gap-4 w-full justify-between h-[440px] lg:flex-row lg:gap-24">
			<hgroup class="order-last flex flex-col gap-4 mt-4 w-full max-w-3xl mx-auto text-left lg:max-w-xl lg:order-first lg:mx-0">
				<h2 class="primary-header-2">TwoFrame.gg</h2>
				<p class="primary-body text-(--color-gray)">Solo is a personal running app complete with native GPS tracking, Live Activities, and historical trends.</p>
				<span class="flex gap-4">
					<p class="primary-body w-fit text-white py-2 px-3 bg-(--background-secondary) rounded-lg">Supabase</p>
					<p class="primary-body w-fit text-white py-2 px-3 bg-(--background-secondary) rounded-lg">Next.js</p>
					<p class="primary-body w-fit text-white py-2 px-3 bg-(--background-secondary) rounded-lg">ChatGPT LLM</p>
				</span>
			</hgroup>

			<Image
				src={solo}
				alt="solo running app"
				fit="fill"
				id="project-image-1"
				class="rounded-2xl w-full h-full mx-auto hover:cursor-pointer lg:max-w-3xl lg:order-last"
			/>
		</article>

		<article class="flex flex-col gap-4 w-full justify-between h-[440px] lg:flex-row lg:gap-24">
			<hgroup class="order-last flex flex-col gap-4 mt-4 w-full max-w-3xl mx-auto text-left lg:max-w-xl lg:order-first lg:mx-0">
				<h2 class="primary-header-2">Solo Running</h2>
				<p class="primary-body text-(--color-gray)">Solo is a personal running app complete with native GPS tracking, Live Activities, and historical trends.</p>
				<span class="flex gap-4">
					<p class="primary-body w-fit text-white py-2 px-3 bg-(--background-secondary) rounded-lg">iOS</p>
					<p class="primary-body w-fit text-white py-2 px-3 bg-(--background-secondary) rounded-lg">SwiftUI</p>
					<p class="primary-body w-fit text-white py-2 px-3 bg-(--background-secondary) rounded-lg">XCode</p>
				</span>
			</hgroup>

			<Image
				src={solo}
				alt="solo running app"
				fit="fill"
				id="project-image-2"
				class="rounded-2xl w-full h-full mx-auto hover:cursor-pointer lg:max-w-3xl lg:order-last"
			/>
		</article>

		<article class="flex flex-col gap-4 w-full justify-between h-[440px] lg:flex-row lg:gap-24">
		
			<hgroup class="order-last flex flex-col gap-4 mt-4 w-full max-w-3xl mx-auto text-left lg:max-w-xl lg:order-first lg:mx-0">
				<h2 class="primary-header-2">VGDC Website</h2>
				<p class="primary-body text-(--color-gray)">Solo is a personal running app complete with native GPS tracking, Live Activities, and historical trends.</p>
				<span class="flex gap-4">
					<p class="primary-body w-fit text-white py-2 px-3 bg-(--background-secondary) rounded-lg">iOS</p>
					<p class="primary-body w-fit text-white py-2 px-3 bg-(--background-secondary) rounded-lg">SwiftUI</p>
					<p class="primary-body w-fit text-white py-2 px-3 bg-(--background-secondary) rounded-lg">XCode</p>
				</span>
			</hgroup>

			<Image
				src={vgdc}
				alt="vgdc website"
				fit="fill"
				id="project-image-3"
				class="rounded-2xl w-full h-full mx-auto hover:cursor-pointer lg:max-w-3xl lg:order-last"
			/>
		</article>

		<article class="flex flex-col gap-4 w-full justify-between h-[440px] lg:flex-row lg:gap-24">
		
			<hgroup class="order-last flex flex-col gap-4 mt-4 w-full max-w-3xl mx-auto text-left lg:max-w-xl lg:order-first lg:mx-0">
				<h2 class="primary-header-2">ACM AI Website</h2>
				<p class="primary-body text-(--color-gray)">Solo is a personal running app complete with native GPS tracking, Live Activities, and historical trends.</p>
				<span class="flex gap-4">
					<p class="primary-body w-fit text-white py-2 px-3 bg-(--background-secondary) rounded-lg">iOS</p>
					<p class="primary-body w-fit text-white py-2 px-3 bg-(--background-secondary) rounded-lg">SwiftUI</p>
					<p class="primary-body w-fit text-white py-2 px-3 bg-(--background-secondary) rounded-lg">XCode</p>
				</span>
			</hgroup>

			<div class="rounded-2xl bg-(--background-secondary) overflow-hidden w-full h-full mx-auto hover:cursor-pointer lg:max-w-3xl lg:order-last flex items-center justify-center p-8">
				<Image
					src={acm}
					alt="solo running app"
					fit="contain"
					id="project-image-4"
					
					class="w-full h-full max-w-full max-h-full object-contain rounded-2xl"
				/>
			</div>
		
		</article>

		<article class="flex flex-col gap-4 w-full justify-between h-[440px] lg:flex-row lg:gap-24">
		
			<hgroup class="order-last flex flex-col gap-4 mt-4 w-full max-w-3xl mx-auto text-left lg:max-w-xl lg:order-first lg:mx-0">
				<h2 class="primary-header-2">Bloom Book</h2>
				<p class="primary-body text-(--color-gray)">Solo is a personal running app complete with native GPS tracking, Live Activities, and historical trends.</p>
				<span class="flex gap-4">
					<p class="primary-body w-fit text-white py-2 px-3 bg-(--background-secondary) rounded-lg">iOS</p>
					<p class="primary-body w-fit text-white py-2 px-3 bg-(--background-secondary) rounded-lg">SwiftUI</p>
					<p class="primary-body w-fit text-white py-2 px-3 bg-(--background-secondary) rounded-lg">XCode</p>
				</span>
			</hgroup>

			<Image
				src={solo}
				alt="solo running app"
				fit="fill"
				id="project-image-1"
				class="rounded-2xl w-full h-full mx-auto hover:cursor-pointer lg:max-w-3xl lg:order-last"
			/>
		</article>
    </section>



	<section class="flex flex-col gap-16 w-full px-8 mt-[400px] xl:px-40">
		<hgroup>
			<h1 class="primary-header-1">Skills and Tools</h1>
		</hgroup>

		<ul>
			<hr class="text-(--color-gray)"/>
		</ul>
	</section>
</Layout>