---
import "../styles/global.css";
import NavBar from "../components/NavBar.astro";
import ClientRouter from "astro/components/ClientRouter.astro";
import Footer from "../components/Footer.astro";
import  PageFindLogo  from "../assets/pagefind-dark.svg";
---

<script src="../scripts/gsap.min.js"></script>

<script>
	import { gsap } from "gsap";
	import { SplitText } from "gsap/SplitText";
	import { ScrollTrigger } from "gsap/ScrollTrigger";
	import { ScrollSmoother } from "gsap/ScrollSmoother";
	import { Flip } from "gsap/Flip";

	document.addEventListener("astro:page-load", setUpAnimations);
	
	// Animations are set up in the order that they appear on the page
	function setUpAnimations() {	
		gsap.registerPlugin(SplitText, ScrollTrigger, ScrollSmoother, Flip);

		ScrollSmoother.create({
			smooth: 2, // how long (in seconds) it takes to "catch up" to the native scroll position
			effects: true, // looks for data-speed and data-lag attributes on elements
		});

		let width = window.innerWidth;
		const smoother = ScrollSmoother.get();
		const searchDialog = document.querySelector("#search-dialog") as HTMLElement;
	    const smoothWrapper = document.querySelector("#smooth-wrapper") as HTMLElement;
		const escapeSearchDialog = document.querySelector("#escape-search-dialog") as HTMLButtonElement;

		escapeSearchDialog.addEventListener("click", () => {
			toggleDialogView();
		})

        document.addEventListener("keydown", (e: KeyboardEvent) => {
            if ((e.ctrlKey || e.metaKey) && e.key == "k") {
				toggleDialogView();
            }

			if (e.key == "Escape") {
				e.preventDefault();
				toggleDialogView();
			}
        })

		function toggleDialogView() {
			searchDialog.classList.toggle("hidden");
				
			if (!searchDialog.classList.contains("hidden")) {
				smoother?.paused(true);
				smoothWrapper.classList.add('opacity-50');
				smoothWrapper.classList.add('blur-sm');
			}
			else {
				smoother?.paused(false);
				smoothWrapper.classList.remove('opacity-50');
				smoothWrapper.classList.remove('blur-sm');
			}
		}

		let splitHero = SplitText.create("#hero", {
			type: "words",
			autoSplit: true,
		});

		let backgroundText = SplitText.create("#my-background", {
			type: "words, lines",
			autoSplit: true,
			reduceWhiteSpace: false,
		});

		let splitProjectHeader = SplitText.create("#projects-header", {
			type: "lines",
			autoSplit: true,
		});

		gsap.from(backgroundText.lines, {
			duration: 2,
			yPercent: 100,
			opacity: 0,
			stagger: 0.05,
			ease: "expo.out",
			scrollTrigger: { trigger: "#my-background" },
		});

		gsap.from(splitProjectHeader.lines, {
			duration: 1.5,
			rotationX: -100,
			filter: "blur(20px)",
			transformOrigin: "50% 50% -160px",
			opacity: 0,
			stagger: 0.15,
			ease: "power3.out",
			scrollTrigger: {trigger: "#projects-header", start: "top-=400px"}
		});

		gsap.from(splitHero.words, {
			duration: 1,
			y: 50,
			autoAlpha: 0,
			stagger: 0.08,
			scrub: true,
			scrollTrigger: { trigger: "#hero" },
		});

		for (let i = 1; i <= 3; i++) {
			let tooltip = document.querySelector(`#project-tooltip-${i}`) as HTMLElement;
			let projectImage = document.querySelector(`#project-image-${i}`) as HTMLElement;

			gsap.set(tooltip, {opacity: 0, scale: 0, xPercent: -50, yPercent: -50});
			let xTo = gsap.quickTo(tooltip, "x", {duration: 0.6, ease: "expo.out"});
			let yTo = gsap.quickTo(tooltip, "y", {duration: 0.6, ease: "expo.out"});

			projectImage?.addEventListener("mouseenter", (e: MouseEvent) => {
				 gsap.to(tooltip, {
					duration: 0.3,
					opacity: 1,
					scale: 1,
					transformOrigin: "center center"
				});
			});

			projectImage?.addEventListener("mousemove", (e: any) => {
				let x = e.clientX;
				let y = e.clientY;
				let pos = e.target!.getBoundingClientRect();
				xTo(x + 64);
				yTo(y - pos.y + 64);
			});

			projectImage?.addEventListener("mouseleave", (e: MouseEvent) => {
				gsap.to(tooltip, {
					duration: 0.3,
					opacity: 0,
					scale: 0
				});
			});
		}		

		// Image carousel horizontal scroll animation
		ScrollTrigger.create({
			trigger: "#carousel",
			start: () => (width < 640 ? "top-=700px top" : "top-=900px top"),
			end: () =>
				width < 640 ? "bottom+=800px bottom" : "bottom+=900px bottom",
			scrub: true,
			animation: gsap.fromTo("#carousel", { x: -200 }, { x: 200 }),
		});

		gsap.fromTo(
			"#gallery-header",
			{
				xPercent: -100,
				opacity: 0,
				filter: "blur(10px)",
				scrollTrigger: {
					trigger: "#gallery-header",
					start: "top-=940px top",
					scrub: true,
				},
			},
			{
				duration: 1,
				xPercent: 0,
				opacity: 1,
				filter: "blur(0px)",
				ease: "expo.out",
				scrollTrigger: {
					trigger: "#gallery-header",
					start: "top-=940px top",
					scrub: true,
				},
			},
		);
	}
</script>

<script>
	const pagefind = await import("../../public/pagefind/pagefind.js");
	pagefind.init();

	interface Data {
		url: string,
		excerpt: string,
		meta: {
			title: string,
			image: string
		}
	}
	
	document.addEventListener('astro:page-load', async(event) => {
		const searchResultsList = document.querySelector("ul#search-results") as HTMLElement;

		document.body.addEventListener("input", async(e: any) => {
			if (e.target.id !== 'search-input') return;

			// Clear the results in the UI
			while (searchResultsList.firstChild) {
				searchResultsList.removeChild(searchResultsList.firstChild);
			}

			pagefind.preload(e.target.value);
			const search = await pagefind.search(e.target.value, 300);
			const results = await search.results;

			if (results.length == 0 && e.target.value.length > 0) {
				let message = document.createElement("p");
				message.innerHTML = `<p class="text-(--color-gray)">No results found</p>`
				searchResultsList.appendChild(message)
			}

			else {
				results.forEach(async (result: any) => {
					const data = await result.data() as Data;
					let article = document.createElement("article");

					article.innerHTML = 
					`
						<a href=${data.url.replace("/public", "")}>
							<h3 class='primary-header-3 text-white'>${data.meta.title}</h3>
						</a>
						<p class='primary-body text-(--color-gray) line-clamp-1 overflow-ellipsis'>${data.excerpt}</p>
					`
					searchResultsList.appendChild(article)
				})
			}
		})
	});
</script>

<script>
	const sideBarMenu = document.querySelector("section#side-bar-menu") as HTMLElement;
		document.addEventListener("astro:after-preparation", () =>{
		sideBarMenu.classList.add('hidden');
	})
</script>

<!doctype html>
<html lang="en" transition:name="root" transition:animate="none">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Portfolio</title>
		<ClientRouter fallback="none" />
	</head>

	<body class="flex flex-col justify-between">
		<dialog 
			id="search-dialog" 
			class="fixed bg-(--background-secondary) border-t-2 border-gray-500/50 hidden flex flex-col justify-between overflow-hidden justify-between mx-auto top-1/2 left-1/2 translate-x-[-50%] translate-y-[-56%] w-[92vw] h-[80vh] lg:w-[50vw] lg:translate-y-[-50%] m-8 rounded-xl z-1000 m-8"
		>
			<span class="inline-flex justify-between items-center gap-8 w-full p-5">
				<input id="search-input" placeholder="search" type="search" class="text-white border-0 bg-(--background-secondary) w-full rounded-lg"/>
				<button id="escape-search-dialog" class="w-fit h-fit py-[2px] px-[6px] rounded-md border-1 border-(--color-gray) text-white text-sm hover:cursor-pointer hover:bg-gray-500/50">esc</button>
			</span>
			<hr class="w-full text-gray-500/50"/>

			{/* List to display search results  */}
			<ul id="search-results" class="flex flex-col gap-8 pt-4 pb-32 overflow-scroll h-full pt-8 px-5"></ul>
			<section class="fixed bottom-0 w-full border-t-1 border-gray-500/50 p-5 flex mt-full bg-(--background-secondary)">
				<PageFindLogo height={32} width={120} class="ml-full w-fit"/>
			</section>
		</dialog>

		<NavBar/>
		<section id="smooth-wrapper" class="transition-all duration-400">
			<main id="smooth-content">
				<slot />
				<Footer/>
			</main>
		</section>	
	</body>

</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
